{
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "overrides": [
        { "files": "*.svelte", "options": { "parser": "svelte" } },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "tabWidth": 4,
    "printWidth": 100,
    "bracketSameLine": true,
    "semi": false,
    "importOrder": ["^\\$", "^[./]"],
    "svelteIndentScriptAndStyle": true,
    "singleQuote": true
}
